.link_list_item{
    display:flex;
    align-items: center;
    font-size: 1rem;
}

.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: rgb(39, 13, 59);
    color:white;
}

.footer-row{
    display: flex;
    padding: 15px;
}

.footer-section{
    margin: 15px;
}
.footer-heading {
    color: white !important
}

li {
    font-size: 20px;
}

h2{
    color:white !important;
    font-size: 20px !important;
}

#logo{
    background-color: white !important;
}

.footer_text{
line-height: 30px;
color: rgba(255,255,255,0.735);
font-size: 1rem;
}

.quick_links-title{
    margin-bottom: 15px;
    font-size: 2.1rem;
    color: white;
}


.icons {
    padding-right: 10px;
}

.footer_copyright{
    font-size: 0.9rem;
    margin-top: 30px;
    text-align: center;
}