
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}


a {
  text-decoration: none;
  color: unset;
}

img{
  width: 100%
}

section{
  padding: 60px 0px;
}

.product_container{
  background-color: (var(--card-bg-04));
  display:flex;
  justify-content: space-around;
}

.benefit_heading{
  color: black !important;
}