.about_banner {
    background: linear-gradient(rgba(0,0,0,0.562), rgba(0,0,0,0.562)), 
    url('https://media.timeout.com/images/105683538/750/422/image.jpg') no-repeat center;
    background-size: cover;
    height: 400px;
    padding: 100px 0px;
    
}

.banner-text {
    color: #fff !important;
    font-weight: 600;
}

@media (max-width: 320px) {
    
    .about_banner{
        height:200px;
    }
  }

@media (max-width: 480px) {
    .about_banner{
        height:250px;
    }
  } 

@media (max-width: 768px) {
    .about_banner{
        height:350px;
    }
  } 

@media (max-width: 992px) {
    .about_banner{
        height:450px;
    }
  }

@media (max-width: 1200px) {
    .about_banner{
        height:700px;
    }
}

@media (max-width: 1920px) {
        .about_banner{
            height:900px;
        }
  }
